*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url(./img/bg_fruit.png);
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    width: 1920px;
    height: 968px;
    margin:0 auto;
    background-image: url(
        ./img/banner.jpg
    );
    /* background-size:100%; */
    flex-wrap:wrap;
}
.flex{
    display: flex;
}
header .logo{
    margin-left: 380px;
    margin-top:48px;
}
header nav ul{
    margin-top:110px;
    margin-left:100px;
    width: 560px;
    height: 42px;
    line-height: 42px;
    flex-direction: row;
    justify-content: space-between;
}
header nav a {
    color: black;
}
header .icon i{
    display:inline-block;
    text-align: center;
    /* vertical-align: middle; */
    /* line-height: 42px; */
    line-height: 22px;
}
header .icon{
    /* position:relative; */
    margin-top:120px;
    margin-left:44px;
    width: 200px;
    height: 42px;
    
    /* text-align: center;
    vertical-align: center; */
    
    color: #a0cb23;
    flex-direction: row;
    justify-content: space-between;
    /* font-family: "Font Awesome"; */
}
header .icon a{
    color:#a0cb23;
  
}
header .fa-solid{
    /* position: absolute; */
    margin-top:-15px;
    padding-top: 10px;
    width: 42px;
    height: 42px;
    background-color: white;
    border-radius: 50%;

    
}
header .icon .zero{
    width: 15px;
    height: 15px;
    background-color: rgb(3, 59, 3);
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700;
    text-align:center;
    line-height: 15px;
   margin-left: -18px;
   margin-top:-10px;
}
header .text{
    margin-left:400px;
    margin-top: -120px;
    width: 516px;
    height: 250px;
    line-height: 4em;
    /* text-align: left; */

}
header .text h1 {
    font-size: 48px;
    padding-left:95px;
}
header .text .welcome{
    font-size:20px;
    color:#a0cb23;
}
header .text .delivery{
    font-size:20px;
    /* padding-left:60px; */
}
header .click{
    width: 364px;
    height: 52px;
    justify-content: space-between;
    line-height: 52px;
    text-align:center;
    margin-left:-430px;
    margin-top:180px;
    /* text-align: center;
    vertical-align: middle; */
}
header .course{
    width: 173px;
    height: 52px;
    background-color:  #a0cb23;
    color:white;



}
header .plus{
    width: 173px;
    height: 52px;
    background-color:#14462d;
    color:white;

}

main .wrapper{
  
    margin-top: 140px;
    height: 348px;
    justify-content: center;
 
   
}
main .wrapper div{
    /* position:relative; */
    width: 348px;
    height: 282px; 
   flex-direction: row;
 
}

main .wrapper p {
    color:white;
    display: inline-block;
    text-align:left;
    line-height: 2em;
}
/* 
main .wrapper img{
    
    width: 348px;
    height: 282px;

} */

main .wrapper .left .title1{
    /* display:inline-block; */
    font-size:22px;
    padding-left:30px;
    padding-top:60px;
    padding-bottom:60px;
    width: 150px;
    line-height: 2em;
    text-align:left;

}
main .wrapper .benefit1{
    font-size:18px;
    color: rgba(255, 255, 255, 0.808);
    /* padding-bottom:60px; */
    padding-top:20px;
  
}

main .wrapper .left{
    position: relative;
}

main .wrapper .legume{
    position:absolute;
    /* width: 170px;
    height: 280px; */
    right:0;
    bottom: 0;

}

main .wrapper .center{
    position: relative;
}
main .wrapper .title2{
    font-size:22px;
    padding-left:30px;
    padding-top:60px;
    width: 200px;
    line-height: 2em;
    padding-bottom: -10px;
    text-align:left;
}
main .wrapper .benefit2{
    font-size:18px;
    color: rgba(255, 255, 255, 0.808);
    padding-left:30px;
    
    
}


main .wrapper .boisson{
    position:absolute;
    /* width: 170px;
    height: 280px; */
    right:30px;
    bottom: 20px;

}


main .wrapper .right{
    position: relative;
}
main .wrapper .title3{
    font-size:22px;
    padding-left:30px;
    padding-top:60px;
    /* padding-bottom:60px; */
    width: 150px;
    line-height: 2em;
    padding-bottom:30px;
}
main .wrapper .benefit3{
    font-size:18px;
    color: rgba(255, 255, 255, 0.808);
    /* padding-bottom:60px; */
    padding-left:30px;
    margin-top:-43px;
    
}


main .wrapper .cosmetic{
    position:absolute;
    /* width: 170px;
    height: 280px; */
    right:30px;
    bottom: 20px;

}
main .wrapper div:nth-child(1){
    background-color: #92ddd8 ;
    margin-right:28px;

}
main .wrapper div:nth-child(2){
    background-color: #fb9823;
    margin-right:28px;
    
}
main .wrapper div:nth-child(3){
    background-color: #afe223;
    
}


main .wrapper .center div {
    background-color: #fb9823;
}
main .wrapper .right div {
    background-color: #afe223;
}

main .description {
    padding-top:80px;
    height: 130px;
    width: 400px;
    margin: auto;
    text-align: center;
    
}

main .description h2{
    font-size:42px;
    word-spacing: 2px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.767);


}

main .description span{
font-size: 24px;
color:#a0cb23;
/* text-align: center; */
/* text-shadow: 1px 1px 2px; */
}

main .produit{
    width: 1110px;
    height: 990px;
    margin:auto;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom:138px;
    margin-top:100px;

    /* padding-bottom: 25px; */
 
    /* background-color: aquamarine; */

}

main .produit div:nth-child(n+4){
    margin-top:25px;

}
main .produit div{ 
    position:relative;
    width: 350px;
    height: 482px;
    background-color:#f6fbfa;
   
    /* margin-bottom: 25px; */
}
main .produit img{
    position: absolute;
}

main .produit .hot{
    position:absolute;
    width: 50px;
    height: 25px;
    background-color: red;
    font-size: 16px;
    font-weight: 600 ;
    color:white;
    text-align:center;
    line-height: 25px;


}
main .produit .heart{
    position:absolute;
    width: 46px;
    height: 46px;
    background-color: white;
    border-radius: 50%;
    top:20px;
    right:20px;
    padding-top:14px;
    text-align: center;
    vertical-align: center;

}
main .produit .heart .fa-heart{
    color:rgb(143, 149, 155);
    font-size:18px;
    text-align: center;

}
main .produit .vert{
    background-color: #afe223;
}
main .produit .heart .white{
    
    color: white;
}
main .produit .fa-solid{
    color:rgb(240, 217, 16)
}
main .produit .star{
    padding-top:270px;
    z-index: 5;
    text-align: center;
}
main .produit h3, p, .ajouter{
    text-align:center;
    line-height: 2em;
    
}
main .produit .del{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.473);
}

main .produit .price{
    color:#afe223;
}
main .produit .ajouter{
    position: absolute;
    width: 120px;
    height: 40px;
    /* margin: auto; */
    
    background-color:#14462d;
    /* vertical-align:bottom; */
    font-size: 14px;
    color:white;
    line-height: 40px;
    bottom:55px;
    left:117px;
   
}
main .produit .ajouter:hover{
    background-color: #a0cb23;
}


main .produit .ajout-b p{
    margin-top:5px;

}

main .produit .fraise{
    left:20px;
    top:35px;
}
main .produit .miel{
    left:115px;
    top:55px;
}
main .produit .lait{
    top:-50px;
}
main .produit .mangue{
    top:-40px
}
footer .foot{
    position: relative;
    margin:auto;
    width: 1110px;
    height: 222px;
    background-color: #afe223;
    /* background-image: url(./img/panier.jpg);
    background-repeat: no-repeat;
    background-position: 730px; */
    box-shadow: -3px 0 yellow;
   
}
footer .foot .pannier{
    position: absolute;
    right:0;
    top:0;
  /* float:right;
  margin-right:-20px;
  margin-top:-50px;
  overflow: hidden; */
}
footer .foot .pannier img{
    max-height: 222px;
    border-top-left-radius: 300px;
    box-shadow: -25px 0 rgb(211, 244, 60);
}

footer .foot .sold{
    position: absolute;
    padding-left: 65px;
    padding-top: 80px;
    /* text-align: center; */
    line-height: 1em;
}

footer .foot .sold span{

    font-size:60px;
    font-weight: 600;
    color: #fffc00;
}

footer .foot .sold p{
    font-size: 16px;
    color:rgba(255, 255, 255, 0.872);
    text-align: left;
}

footer .foot .mot{
    width: 320px;
    height: 50px;
    margin-left:320px;
    text-align: left;
     /* white-space:wrap; */
    
}

footer .foot .mot p{
    padding-top: 50px;
    font-size: 34px;
    color:white;
   

}

footer .foot .mot span{
    margin-left:-147px;
}
.empty{
   
    height: 200px;
}


.toggle-btn{
    display: none;
}
@media screen and (min-width:460px) and (max-width:767px) {
    header, main, footer{
        width: 100%;
        /* float:none; */
        
    }
    header{
        height: 550px;
        
    }
    body{
        font-size: 12px;
        padding-left: 20px;
    }
    header .logo{
        margin-top: -40px;
        margin-left:-20px;
    }
    header .icon{
        margin-top: 40px;
        margin-left: 150px;
    }
    .toggle-btn{
        display: inline-block;
        font-size: 30px;
        text-decoration: none;
        
        color: #345e2bde;
        padding:7px 10px;
        position: absolute;
        right: 10px;
        top:20px;
    }
    header .open{
        text-align: center;
    }
  
    /* hidden close */
    #nav .close{
        margin-right:6px;
        display: none;
    
    }
  
    /* 导航为目标状态时显示关闭按钮 */
    #nav:target .close{
        display: inline-block;
    }
    /* 初始隐藏导航 */
    #nav{
        display: none;
    

    }
    #nav ul{ 
        justify-content: space-around;
        border-radius: 40px;
       
        
    }
    /* #nav ul li{ */
        /* color:white; */
    /* } */
    /* #nav ul{
        flex-direction: column;
      
    } */
    #nav:target{
        display: block;
        
        position: absolute;
        top: 0;
        padding-top:0;
        width:10%;
    }
    /*  */
    #nav:target ul {
        background-color: rgb(200, 225, 186);
    }
    #nav:target li, #nav:target li a{
        display: block;
        color: #14462d;
        text-align: right;
    }
    #nav:target li a:hover{
        background-color: #e9efdf;
    }
    header .text {
        position:absolute;
        left:-280px;
        top:300px;
    }
    header .click{
        margin-top:450px;
        justify-content: space-around;
    }
    header h1{
        line-height: 1.2em;
    }
    main .wrapper{
        flex-direction: column;
        align-items: center;
        margin-top: 300px;
        margin-bottom: 10px;
        
    }
  
  
    main .description{
        margin-top:280px;
    }
    
    main .produit{
        flex-wrap: row wrap;
        width: 100%;

    }
    footer .foot{
        margin-top:350px;
        width: 100%;
    }
    footer .pannier{
        display: none;
    }
        
    .empty{
        display: none;
    }
}